asn1crypto==0.24.0
bcrypt==3.1.4
beautifulsoup4==4.6.0
bleach==2.1.3
blockchain==1.3.3
-e git://github.com/stephenmcd/cartridge.git@51a2d7fa0f4598562073f82d7701f291716bb1f5#egg=Cartridge
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
Django==1.10.8
django-contrib-comments==1.8.0
django-widget-tweaks==1.4.2
enum34==1.1.6
Fabric==1.13.2
filebrowser-safe==0.4.7
future==0.16.0
grappelli-safe==0.4.7
html5lib==1.0b10
httplib2==0.11.1
idna==2.6
ipaddress==1.0.22
Mezzanine==4.2.3
mezzy==2.2.0
oauthlib==2.0.7
olefile==0.45.1
paramiko==2.4.1
pep8==1.7.1
Pillow==4.1.1
pyasn1==0.4.2
pycparser==2.18
pyflakes==1.6.0
PyNaCl==1.2.1
PyPDF2==1.26.0
pytz==2018.3
reportlab==3.4.0
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
sqlparse==0.2.4
tzlocal==1.5.1
urllib3==1.22
webencodings==0.5.1
xhtml2pdf==0.2.1
