{% load mezzanine_tags widget_tweaks %}
{% nevercache %}
<input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
{% csrf_token %}
{% endnevercache %}
<div class="row">
    {% for field in form_for_fields %}
        {% if field.is_hidden %}
          {{ field }}
        {% else %}
            <div class="col-sm-6">
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    {{ field.label_tag }}
                    {{ field|attr:"class:form-control" }}
                    {% if field.help_text %}
                        <p class="text-muted">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="error-text">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
                    
            {% if forloop.counter|divisibleby:2 %}
                </div><div class="row">
            {% endif %}

        {% endif %}
    {% endfor %}
</div><!-- .row -->