<p>
    <a href="http://facebook.com/share.php?u={{ request.get_host }}{{ item.get_absolute_url|urlencode }}&amp;title={{ item.title|urlencode }}" class="external facebook" data-animate-hover="pulse">
    	<i class="fa fa-facebook fa-2x"></i>
    </a>
    <a href="http://pinterest.com/pin/create/button/?url={{ request.get_host }}{{ item.get_absolute_url|urlencode }}&media={{ request.get_host }}{{ MEDIA_URL }}{{ item.image }}&description={{ item.title|urlencode }}" class="external pinterest" data-animate-hover="pulse">
    	<i class="fa fa-pinterest fa-2x"></i>
    </a>
    <a href="http://twitter.com/home?status={{ request.get_host }}{{ item.get_absolute_url|urlencode }}%20{{ item.title|urlencode }}" class="external twitter" data-animate-hover="pulse">
    	<i class="fa fa-twitter fa-2x"></i>
    </a>
    <a href="https://plus.google.com/share?url={{ request.get_host }}{{ item.get_absolute_url|urlencode }}" class="external gplus" data-animate-hover="pulse">
    	<i class="fa fa-google-plus fa-2x"></i>
    </a>
</p>