<p>
    <a href="http://facebook.com/sharer.php?u={{ request.get_host }}{{ item.get_absolute_url|urlencode }}&amp;t={{ item.slug }}" class="external facebook" data-animate-hover="pulse">
    	<i class="fa fa-facebook"></i>
    </a>
    <a href="https://plus.google.com/share?url={{ request.get_host }}{{ item.get_absolute_url|urlencode }}" class="external gplus" data-animate-hover="pulse">
    	<i class="fa fa-google-plus"></i>
    </a>
    <a href="http://twitter.com/home?status={{ request.get_host }}{{ item.get_absolute_url|urlencode }}%20{{ item.slug }}" class="external twitter" data-animate-hover="pulse">
    	<i class="fa fa-twitter"></i>
    </a>
</p>