{% load i18n pages_tags %}

{% spaceless %}
{% if page_branch_in_menu %}
<ul class="nav nav-pills nav-stacked category-menu">
    {% for page in page_branch %}
        {% if page.in_menu %}
            <li class="
                {% if page.is_current %} active{% endif %}
                {% if page.is_current_or_ascendant %} active-branch{% endif %}
                " id="tree-menu-{{ page.html_id }}">
                    <a href="{{ page.get_absolute_url }}">{{ page.title }} 
                        {% if page.category and page.is_primary %}
                            <span class="badge pull-right">{{ page.category.products.all|length }}</span>
                        {% endif %}
                    </a>
                    {% if page.is_current_or_ascendant %}{% page_menu page %}{% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endspaceless %}