/** Your theme modifications here **/
.centered{
	text-align: center;
}
.price{
	margin-top: 0 !important;
}
#thumbs > div{
	padding-bottom: 1em;
}
.active.active-branch > a{
	color: #fff !important;
}
.error-text{
	color: #a94442;
}
.hidden{
	display: none;
}
#thankyou-div{
	margin: 4em;
}
.tobecopied{
    cursor: pointer;
}
textarea{
	height: 5em !important;
}
.pager > li > a:hover{
	color: #000;
}